@font-face {
    font-family: 'Inconsolata-g';
    src: url('font/Inconsolata-g.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Classic Console';
    src: url('font/Classic-Console.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: inherit;
    font-size: inherit;
}

html, body, div, ul, li, p, table, td, button, div, textarea {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata-g';
    font-size: 12px;
}

/* make the body stretch to the bottom */
html {
    height: 100%;
}

table, td {
    text-align: center;
    border-color: #DDD;
    border-style: solid;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #FFF;
    /* disable table selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar {
    overflow: hidden;
    position: absolute;
    height: 38px;
    padding: 8px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #252525;
    background-image: -webkit-linear-gradient(to top, #202020, #313131);
    background-image: -moz-linear-gradient(to top, #202020, #313131);
    background-image: linear-gradient(to top, #202020, #313131);
}

.apparea {
    overflow: scroll;
    position: absolute;
    padding: 8px;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
}

table {
    table-layout: fixed;  /* override the browser's automatic column resizing */
    border-width: 0 0 1px 1px;
}

td {
    overflow: hidden;
    border-width: 1px 1px 0 0;
}

td.highlight {
    background: #FF0;
}

img {
    border: 0;
    vertical-align: middle;
}

embed {
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    padding: 1px 8px;
    border: 1px double #000;
    border-radius: 10px;
    height: 38px;
    background-color: #424242;
    box-shadow: 1px 1px 1px 0px #303030, 1px 1px 1px 0px #505050 inset;
    background-image: -webkit-linear-gradient(to top, #383838, #444444);
    background-image: -moz-linear-gradient(to top, #383838, #444444);
    background-image: linear-gradient(to top, #383838, #444444);
}

button:hover {
    background-color: #525252;
    box-shadow: 1px 1px 1px 0px #303030, 1px 1px 1px 0px #585858 inset;
    background-image: -webkit-linear-gradient(to top, #3D3D3D, #4B4B4B);
    background-image: -moz-linear-gradient(to top, #3D3D3D, #4B4B4B);
    background-image: linear-gradient(to top, #3D3D3D, #4B4B4B);
}

button:active, button.pressed {
    background-color: #1A1A1A;
    padding: 2px 7px 0 9px;
    box-shadow: 2px 2px 1px 0px #202020, 1px 1px 3px 0px #000000 inset;
    background-image: -webkit-linear-gradient(to top, #1A1A1A, #121212);
    background-image: -moz-linear-gradient(to top, #1A1A1A, #121212);
    background-image: linear-gradient(to top, #1A1A1A, #121212);
}

button.pressed {
    background-color: #CCC;
}

button.disabled {
    color: #DDD;
    background-color: #CCC;
}

button.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right-width: 0;
}

button.middle {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-right-width: 0;
}

button.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

/* remove ugly border in firefox */
button::-moz-focus-inner {
    border: 0;
}

button img {
    width: 18px;
    height: 20px;
}

#copypastearea {
    opacity: 0;
    position: absolute;
    top: -10000px;
    right: 0;
}
