html, body, div, ul, li, p, table, td {
    margin: 0;
    padding: 0;
}

/* make the body stretch to the bottom */
html {
    height: 100%;
}

table, td {
    font-family: courier;
    border-color: #CCC;
    border-style: solid;
    border-spacing: 0;
    border-collapse: collapse;
    /* disable table selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar {
    overflow: hidden;
    position: absolute;
    height: 38px;
    padding: 8px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #BBB;
    background-image: -webkit-linear-gradient(top, #AAA, #CCC);
    background-image: -moz-linear-gradient(top, #AAA, #CCC);
    background-image: linear-gradient(top, #AAA, #CCC);
}

.apparea {
    overflow: scroll;
    position: absolute;
    padding: 8px;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BBB;
    background-image: -webkit-linear-gradient(top, #CCC, #BBB);
    background-image: -moz-linear-gradient(top, #CCC, #BBB);
    background-image: linear-gradient(top, #CCC, #BBB);
}

table {
    table-layout: fixed;  /* override the browser's automatic column resizing */
    border-width: 0 0 1px 1px;
    background-color: #FFF;
}

td {
    overflow: hidden;
    border-width: 1px 1px 0 0;
}

td.highlight {
    background: #FFFF00;
}

img {
    border: 0;
    vertical-align: middle;
}

embed {
    outline: none;
}

button {
    outline: none;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    border: 1px solid #666;
    border-radius: 10px;
    height: 38px;
    background-color: #DDD;
    background-image: -webkit-linear-gradient(top, #EEE, #DDD 90%, #DDD);
    background-image: -moz-linear-gradient(top, #EEE, #DDD 90%, #DDD);
    background-image: linear-gradient(top, #EEE, #DDD 90%, #DDD);
}

button:hover, .zeroclipboard-is-hover {
    background-color: #EEE;
    background-image: -webkit-linear-gradient(top, #EEE, #DDD 80%, #CCC);
    background-image: -moz-linear-gradient(top, #EEE, #DDD 80%, #CCC);
    background-image: linear-gradient(top, #EEE, #DDD 80%, #CCC);
}

button:active, .zeroclipboard-is-active {
    background-color: #BBB;
    background-image: -webkit-linear-gradient(top, #CCC, #DDD 10%, #CCC);
    background-image: -moz-linear-gradient(top, #CCC, #DDD 10%, #CCC);
    background-image: linear-gradient(top, #CCC, #DDD 10%, #CCC);
}

button.pressed {
    background-color: #CCC;
    background-image: -webkit-linear-gradient(top, #BBB, #CCC 10%, #CCC);
    background-image: -moz-linear-gradient(top, #BBB, #CCC 10%, #CCC);
    background-image: linear-gradient(top, #BBB, #CCC 10%, #CCC);
}

button.disabled {
    color: #DDD;
    background-color: #CCC;
    background-image: -webkit-linear-gradient(top, #EEE, #DDD 90%, #DDD);
    background-image: -moz-linear-gradient(top, #BBB, #CCC 90%, #BBB);
    background-image: linear-gradient(top, #EEE, #DDD 90%, #DDD);
}

button.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right-width: 0;
}

button.middle {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-left-color: #AAA;
    border-right-width: 0;
}

button.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left-color: #AAA;
}

/* remove ugly border in firefox */
button::-moz-focus-inner {
    border: 0;
}

button img {
    height: 20px;
}

#copyarea {
    opacity: 0;
    position: absolute;
    top: -10000px;
    right: 0;
}