* {
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* disable table selection */
    cursor: inherit;
    font-family: inherit;
    color: inherit;
}

html {
    cursor: default;
    font-family: monospace;
    color: #252525;
}

table {
    cursor: none;
    table-layout: fixed; /* override the browser's automatic column resizing */
    background-color: #FFF;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 1px solid #DDD;
}

img {
    vertical-align: middle;
}

button {
    margin: 4px 8px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 4px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background-color: #DDD;
}

button:active {
    background-color: #888;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25) inset;
    padding: 5px 3px 3px 5px;
}

button.pressed {
    background-color: #AAA;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25) inset;
    padding: 5px 3px 3px 5px;
}

button.left {
    margin-right: 2px;
}

button.middle {
    margin-left: 2px;
    margin-right: 2px;
}

button.right {
    margin-left: 2px;
}

/* remove ugly border in firefox */
button::-moz-focus-inner {
    border: 0;
}

button img {
    width: 32px;
    height: 32px;
}

.selected {
    background-color: #FF0;
}

.mouse div {
    margin: -1px;
    border: 1px solid #000;
}

.toolbar {
    position: fixed;
    background-color: #DDD;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 48px; /* button.height + 2*button.margin */
    white-space: nowrap;
    border-bottom: 1px solid #BBB;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

.apparea {
    overflow: auto;
    position: fixed;
    top: 49px;
    left: 0;
    right: 0;
    bottom: 21px;
    white-space: nowrap;
    background-color: #CCC;
}

#statusbar {
    position: fixed;
    background-color: #DDD;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #BBB;
}

#statusbar div {
    vertical-align: middle;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    font-size: 11px;
    line-height: 16px;
    padding: 2px 8px;
    height: 16px;
    display: inline-block;
    border-right: 1px solid #BBB;
    min-width: 10%;
    max-width: 33%;
    overflow: hidden;
}
